body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-display: swap;
  margin: 0;
  text-align: center;
  color: #cfcfcf;
  background-color: rgb(29, 29, 29);
  transition: background 0.25s;
}

/* General text */
p {
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif;
  font-display: swap;
  max-width: 700px;
  margin: 10px auto;
}

/* link hover transition activity */
a,
i {
  color: #cfcfcf;
  font-weight: 400;
  text-decoration: none;

  /*for fade effect on hover*/
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Specify links */
a:link {
  font-size: 1.2rem;
  color: #cfcfcf;
}

/* Specify visited links */
a:visited {
  color: #cfcfcf;
}

/* Specify hovered links */
a:hover {
  color: #576ce0;
  transition: 0.15s;
}

/* Specify active links */
a:active {
  color: #0076d1;
}

/* Enlarge social icons */
i {
  padding: 5px;
}

#bluesky {
  fill: #cfcfcf;

  /*for fade effect on hover*/
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#bluesky:hover {
  fill: #1185FE;

  transition: 0.15s;
}

#substack {
  fill: #cfcfcf;

  /*for fade effect on hover*/
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#substack:hover {
  fill: #ed7135;

  transition: 0.25s;
}

#page {
  margin-top: 200px;
  display: grid;
}

/* Headshot image */
#headshot {
  height: 200px;
  vertical-align: middle;
}

/* Signature */
#sig {
  width: 400px;
  max-width: 70%;
}

.emphasis {
  /*for fade effect on hover*/
  -o-transition:color 0.5s;
  -ms-transition:color 0.5s;
  -moz-transition:color 0.5s;
  -webkit-transition:color 0.5s;
  transition:color 0.5s;
}

.emphasis:hover {
  color: #FF7518;
  transition: 0.15s;
}

/* Links within general text */
.headerLink {
  font-size: 1.2rem !important;
}

/* Social link icon wrapper */
#socialLink {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: min-content;
  margin: 0.5em auto;
}

/* All child social links */
#socialLink > * {
  margin: 8px;
}

/* Specify social icon hover color */
.fa-paper-plane:hover {
  color: #d44638;
}
.fa-instagram:hover {
  color: #ffc273;
}
.fa-mug-hot:hover {
  color: #ec6632;
}
.fa-linktree:hover {
  color: #78e371;
}
.fa-globe:hover {
  color: #665381;
}

#lightOrDarkButton {
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cfcfcf;
  background-color: rgb(29, 29, 29);
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

#lightOrDarkButton:focus {
  outline: none;
  border-color: #576ce0;
  box-shadow: 0 0 10px #576ce0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v28/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hL4-a1biLC2CikE0n8H9.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v28/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hL4-a13iLC2CikE0n8H9.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cairo/v28/SLXgc1nY6HkvangtZmpQdkhzfH5lkSs2SgRjCAGMQ1z0hL4-a1PiLC2CikE0nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIXFCrxG-GNxklNd.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIXFA7xG-GNxklNd.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIXFCLxG-GNxklNd.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIXFCbxG-GNxklNd.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIXFB7xG-GNxkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}